@use "@material/typography";

/*
 * Material Tooltips (NYI in Web repo)
 */
[data-md-tooltip] {
  &:hover:before {
    transform: translateX(-50%) scale(1);
  }

  &:before {
    @include typography.typography('caption');

    content: attr(data-md-tooltip);
    text-transform: initial;
    position: absolute;
    bottom: rem-calc(-$double-vertical);
    left: 50%;
    padding: 0 $full-side;
    transform: translateX(-50%) scale(0);
    transition: transform 0.3s $easeInOutQuad;
    transform-origin: top;
    background: $mdc-theme-on-surface;
    color: $mdc-theme-surface;
    border-radius: $quarter-vertical;
    line-height: 1.5rem;
    white-space: nowrap;
    display: inline-block;
  }

  &.md-tooltip--right {
    &:before {
      left: auto;
      right: auto;
      bottom: auto;
      top: 50%;
      transform: translate(100%, -50%) scale(0);
      transform-origin: left center;
    }

    &:hover:before {
      transform: translate(100%, -50%) scale(1);
    }
  }

  &.md-tooltip--left {
    &:before {
      left: auto;
      right: auto;
      bottom: auto;
      top: 50%;
      transform: translate(-100%, -50%) scale(0);
      transform-origin: right center;
    }

    &:hover:before {
      transform: translate(-100%, -50%) scale(1);
    }
  }
}

.md-tooltip--top:before {
  top: rem-calc(-$double-vertical);
  bottom: auto;
  transform: translateX(-50%) scale(0);
  transform-origin: bottom center;
}

@media #{$mq-tablet-min} {
  [data-md-tooltip] {
    &:before {
      padding: 0 $half-side;
    }
  }
}

/*
 * Animated Content Placeholder
 */
.md-placeholder {

  overflow: hidden;

  &:before {
    content: " ";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 50%;
    z-index: 1;
    width: 500%;
    margin-left: -250%;
    -webkit-animation: phAnimation 0.8s linear infinite;
    animation: phAnimation 0.8s linear infinite;
    background: linear-gradient(to right, rgba(255, 255, 255, 0) 46%, rgba(255, 255, 255, 0.35) 50%, rgba(255, 255, 255, 0) 54%) 50% 50%;
  }

  h1, h2, h3, h4, h5, h6,
  span, p, a, img, .avatar, button {
    content: " ";
    background-color: $mdc-theme-primary-100;
  }
}

@-webkit-keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}

@keyframes phAnimation {
  0% {
    transform: translate3d(-30%, 0, 0);
  }
  100% {
    transform: translate3d(30%, 0, 0);
  }
}
