// Styles for the Top App Bar
.mdc-top-app-bar {
  z-index: 7;
}

// Styles for the left drawer
.mdc-drawer {
  @include mdc-drawer-divider-color($mdc-theme-primary);
  @include mdc-drawer-surface-fill-color($white);
}

// Styles for the Cards
.mdc-card,
.mdc-card--outlined {
  @include mdc-card-fill-color($white);
  padding: $full-vertical $full-side;
  margin-top: $half-vertical;
  margin-bottom: $half-vertical;

  &--dense {
    padding: $quarter-vertical $quarter-side;
  }
}

.mdc-chip {
  min-width: 0;

  [role="gridcell"] {
    @include text-overflow();
  }
}
