<aside class="mdc-drawer mdc-drawer--modal mdc-top-app-bar--fixed-adjust mdc-theme--surface mdc-theme--on-surface">
    <div class="mdc-drawer__header">
        {% if S_USER_LOGGED_IN %}
            <div class="tsn-drawer--header">
                {{ CURRENT_USER_AVATAR }}
                <div class="tsn-drawer--header__content">
                    <h6 class="mdc-drawer__title mdc-typography--headline6 ">{{ CURRENT_USERNAME_FULL }}</h6>
                    <span class="mdc-drawer__subtitle mdc-typography--body2">{% if RANK_TITLE %}{{ RANK_TITLE }}{% endif %}</span>
                </div>
            </div>
        {% else %}
            <img alt="site logo" class="tsn-image--drawer-header-logo" src="{{ T_EXT_PATH }}/images/tsn-13.png">
            <h6 class="mdc-drawer__title mdc-typography--headline6">{{ lang('WELCOME_VISITOR') }}</h6>
            <p class="mdc-drawer__subtitle mdc-typography--body2">{{ lang('JOIN_THE_DISCUSSION') }}</p>
            <div>
                <div class="mdc-touch-target-wrapper">
                    <button class="mdc-button mdc-button--touch mdc-button--raised">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">{{ lang('REGISTER') }}</span>
                        <div class="mdc-button__touch"></div>
                    </button>
                </div>
                <div class="mdc-touch-target-wrapper">
                    <a class="mdc-button mdc-button--touch mdc-button--outlined" href="{{ U_TSN_LOGIN }}">
                        <div class="mdc-button__ripple"></div>
                        <span class="mdc-button__label">{{ lang('SIGN_IN') }}</span>
                        <div class="mdc-button__touch"></div>
                    </a>
                </div>
            </div>
        {% endif %}
    </div>
    <hr class="mdc-list-divider">
    <nav class="mdc-drawer__content">
        <div class="mdc-list">
            <a aria-current="page" class="mdc-list-item mdc-list-item--activated" href="{{ U_TSN_INDEX }}">
                <i aria-hidden="true" class="material-icons mdc-list-item__graphic">home</i>
                <span class="mdc-list-item__text">My Spot</span>
            </a>
        </div>
        <div class="mdc-list">
            {% for row in forumrow %}
                {% if row.S_IS_CAT %}
                    <hr class="mdc-list-divider">
                    <h6 class="mdc-list-group__subheader">{{ row.FORUM_NAME }}</h6>
                {% elseif row.S_IS_LINK %}
                    <a class="mdc-list-item" href="{{ row.U_VIEWFORUM }}" target="_blank">
                        {% if row.FORUM_IMAGE_SRC %}<img alt="{{ row.FORUM_FOLDER_IMG_ALT }}" class="mdc-list-item__graphic tsn-image--navigation" src="{{ row.FORUM_IMAGE_SRC }}"/>{% endif %}
                        <span class="mdc-list-item__text">{{ row.FORUM_NAME }}</span>
                        <i aria-hidden="true" class="material-icons mdc-list-item__meta">open_in_new</i>
                    </a>
                {% else %}
                    {% if row.S_NO_CAT %}{{ lang('FORUMS') }}{% endif %}
                    <a class="mdc-list-item" href="{{ row.U_VIEWFORUM }}">
                        <i aria-hidden="true" class="material-icons mdc-list-item__graphic">{% if row.S_UNREAD_FORUM %}fiber_new{% endif %}</i>
                        <span class="mdc-list-item__text">{{ row.FORUM_NAME }}</span>
                    </a>
                {% endif %}
            {% else %}
                {{ lang('NO_FORUMS') }}
            {% endfor %}
        </div>
    </nav>
</aside>
<div class="mdc-drawer-scrim"></div>
