<div class="group">
    <div class="gm-row gt-row gd-row">
        <div class="gm-columns gt-columns gd-columns gm-full gt-full gd-full">
            <div class="tsn8_module {% if not S_UNREAD_TOPIC %}gm-hide{% endif %}">
                <div class="tsn8_module_container">
                    <div>
                        <span class="tsn8_module_avatar align_center tsn8_avatar_right">{{ I_AVATAR_IMG }}</span>
                        <div class="tsn8_module_header">{{ lang('TSNSPECIALREPORT') }}</div>
                    </div>
                    <div class="tsn8_module_content">
                        <div>
                            <a class="tsn8_module_subheader tsn8_pad_right_110" href="{{ U_HEADLINE }}">"{{ lang('HEADLINE') }}"</a>

                            <div class="tsn8_myspot_special_report_author">{{ lang('POST_BY_AUTHOR') }}: <a href="{{ U_USER_PROFILE }}">{{ lang('POST_AUTHOR') }}</a> {{ lang('ON') }} {{ lang('POST_DATE') }}</div>
                        </div>

                        <div class="tsn8_myspot_special_report_body {% if not S_UNREAD_TOPIC %}hidden{% endif %}">
                            {{ lang('POST_BODY') }} &nbsp;<strong><a href="{{ U_CONTINUE_READING }}">{{ lang('CONTINUE_READING') }}...</a></strong>
                        </div>
                    </div>
                    <div class="tsn8_module_footer">
                        {{ lang('POST_META') }}
                        <span class="gm-hide tsn8_float_right">
							<span class="tsn8_expand tsn8_icon_nohover {% if S_UNREAD_TOPIC %}tsn8_icon_expand_up{% else %}tsn8_icon_expand_down{% endif %}" data-expand-target="tsn8_myspot_special_report_body"></span>
						</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

