{% include '@tsn_tsn/shellHeader.html' %}

{{ IMG_PATH }}
<div class="mdc-layout-grid">
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-10-desktop">
            <div class="mdc-layout-grid__inner">
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                        <h6 class="mdc-typography--headline6">What's New!</h6>
                        <span class="mdc-typography--body2">New Topics & Replies since your last visit</span>
                        <div class="mdc-list">
                            Inject What's New Here
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                        <h6 class="mdc-typography--headline6">Unread Posts</h6>
                        <span class="mdc-typography--body2">Topics & Replies you haven't seen yet</span>

                        <div class="mdc-list">
                            Inject What's New Here
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                        <h6 class="mdc-typography--headline6">Unanswered Posts</h6>
                        <span class="mdc-typography--body2">Topics awaiting their first reply</span>

                        <div class="mdc-list">
                            Inject What's New Here
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card">
                        <h6 class="mdc-typography--headline6">Active Topics</h6>
                        <span class="mdc-typography--body2">Popular topics that have everyone talking</span>

                        <div class="mdc-list">
                            Inject What's New Here
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2-desktop">
            <div class="mdc-layout-grid__inner">
                {% if not S_USER_LOGGED_IN %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-layout-grid__inner">
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-middle">
                            <img alt="logo" src="{{ T_EXT_PATH }}/images/tsn-13.png">
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--align-middle">
                            <h4 class="mdc-typography--headline4">{{ lang('WELCOME_VISITOR') }}</h4>
                            <span class="mdc-typography--subtitle1">{{ lang('JOIN_THE_DISCUSSION') }}</span>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle text-center">
                            <div class="mdc-touch-target-wrapper">
                                <button class="mdc-button mdc-button--touch mdc-button--raised">
                                    <div class="mdc-button__ripple"></div>
                                    <span class="mdc-button__label">{{ lang('REGISTER') }}</span>
                                    <div class="mdc-button__touch"></div>
                                </button>
                            </div>
                        </div>
                        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--align-middle text-center">
                            <div class="mdc-touch-target-wrapper">
                                <a class="mdc-button mdc-button--touch mdc-button--outlined" href="{{ U_TSN_LOGIN }}">
                                    <div class="mdc-button__ripple"></div>
                                    <span class="mdc-button__label">{{ lang('SIGN_IN') }}</span>
                                    <div class="mdc-button__touch"></div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if birthdays %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card--outlined tsn-stat-card">
                        <span class="mdc-typography--overline">{{ lang('BIRTHDAYS') }}</span>
                        <div class="mdc-chip-set" role="grid">
                            {% for user in birthdays %}
                            <a class="mdc-chip" role="row" href="{{ user.URL }}">
                                <div class="mdc-chip__ripple"></div>
                                {{ user.I_AVATAR_IMG }}
                                <span role="gridcell">
                                    <span role="button" {% if user.COLOR %} style="color:{{ user.COLOR }}" {% endif %} class="mdc-chip__text">{{ user.NAME }} ({{ user.AGE }})</span>
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                {% endif %}

                {% if TOTAL_USERS_VALUE %}
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">

                    <div class="mdc-card--outlined tsn-stat-card">
                        <span class="mdc-typography--overline">{{ lang('ONLINE_NOW') }}</span>
                        <p class="text-left">
                            {% for user in online_avatars %}
                            {{ user.I_AVATAR_IMG }}
                            {% endfor %}
                        </p>
                        <div class="mdc-layout-grid__inner">
                            {% if TOTAL_USERS_VALUE %}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <span class="mdc-typography--headline6">{{ TOTAL_USERS_VALUE }}</span>
                                <p class="mdc-typography--body2">{{ lang('USERS_ONLINE') }}</p>
                            </div>
                            {% endif %}
                            {% if VISIBLE_USERS_VALUE %}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <span class="mdc-typography--headline6">{{ VISIBLE_USERS_VALUE }}</span>
                                <p class="mdc-typography--body2">{{ lang('VISIBLE') }}</p>
                            </div>
                            {% endif %}
                            {% if HIDDEN_USERS_VALUE %}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <span class="mdc-typography--headline6">{{ HIDDEN_USERS_VALUE }}</span>
                                <p class="mdc-typography--body2">{{ lang('HIDDEN') }}</p>
                            </div>
                            {% endif %}
                            {% if HIDDEN_USERS_VALUE %}
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6">
                                <span class="mdc-typography--headline6">{{ GUEST_USERS_VALUE }}</span>
                                <p class="mdc-typography--body2">{{ lang('GUESTS') }}</p>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endif %}

                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card--outlined tsn-stat-card">
                        <span class="mdc-typography--overline">{{ lang('MYSPOT_RECORD') }}</span>
                        <h4 class="mdc-typography--headline4">{{ ONLINE_RECORD_COUNT }}</h4>
                        <p class="mdc-typography--body2">{{ lang('USERS') }} {{ lang('ON') }} {{ ONLINE_RECORD_DATE }}</p>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card--outlined tsn-stat-card">
                        <div class="mdc-layout-grid__inner">
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--align-top">
                                <span class="mdc-typography--overline">{{ lang('MYSPOT_NEWEST_USER') }}</span>
                                <h5 class="mdc-typography--headline5">{{ MYSPOT_NEWEST_USER_NAME }}</h5>
                                <span class="mdc-typography--body2">{{ MYSPOT_NEWEST_USER_DATE }}</span>
                            </div>
                            <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--align-top">
                                {{ MYSPOT_NEWEST_USER_AVATAR }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card--outlined tsn-stat-card">
                        <span class="mdc-typography--overline">{{ lang('STATISTICS') }}</span>
                        <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_TOPICS }}</h4>
                        <p class="mdc-typography--body2">{{ lang('TOPICS') }}</p>

                        <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_POSTS }}</h4>
                        <p class="mdc-typography--body2">{{ lang('POSTS') }}</p>
                        <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_USERS }}</h4>
                        <p class="mdc-typography--body2">{{ lang('USERS') }}</p>
                    </div>
                </div>
                <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
                    <div class="mdc-card--outlined tsn-stat-card">
                        <span class="mdc-typography--overline">{{ lang('MYSPOT_LEGEND') }}</span>
                        <div class="mdc-chip-set" role="grid">
                            {% for usergroup in usergroups %}
                            <a href="{{ usergroup.URL }}" class="mdc-chip" role="row">
                                <div class="mdc-chip__ripple"></div>
                                <i class="material-icons mdc-chip__icon mdc-chip__icon--leading" style="color:{{ usergroup.COLOR }}">group</i>
                                <span role="gridcell">
                                    <span role="button" class="mdc-chip__text">{{ usergroup.NAME }}</span>
                                </span>
                            </a>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include '@tsn_tsn/shellFooter.html' %}
