{#
This template injects a series of Statistic Cards
It's possible that this template should actually be split into several specific
cards that get called in their appropriate spots.
#}
{% if birthdays %}
<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat">
    <span class="mdc-typography--overline">{{ lang('BIRTHDAYS') }}</span>
    <span class="mdc-evolution-chip-set" role="listbox" aria-orientation="horizontal" aria-multiselectable="true">
        <span class="mdc-evolution-chip-set__chips" role="presentation">
            {% for user in birthdays %}
            <a href="{{ user.URL }}" title="{{ user.NAME }} ({{ user.AGE }})" class="mdc-evolution-chip" role="presentation">
                <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" role="option" aria-selected="false">
                    <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
                    <span class="mdc-evolution-chip__graphic">
                        {{ user.I_AVATAR_IMG }}
                    </span>
                    <span class="mdc-evolution-chip__text-label" {% if user.COLOR %} style="color:{{ user.COLOR }}" {% endif %}>&nbsp;{{ user.NAME }} ({{ user.AGE }})</span>
                </span>
            </a>
            {% endfor %}
        </span>
    </span>
</div>
{% endif %}

{% if online_avatars %}
<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat">
    <span class="mdc-typography--overline">{{ lang('ONLINE_NOW') }}</span>
    <p class="text-left">
        {% for user in online_avatars %}
        {{ user.I_AVATAR_IMG }}
        {% endfor %}
    </p>
</div>
{% endif %}

<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat tsn-card--new-user">
    {{ NEWEST_USER_AVATAR }}
    <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-8 mdc-layout-grid__cell--align-top">
            <span class="mdc-typography--overline">{{ lang('MYSPOT_NEWEST_USER') }}</span>
            <h5 class="mdc-typography--headline5">{{ NEWEST_USER_NAME }}</h5>
        </div>
    </div>
</div>

<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat">
    <span class="mdc-typography--overline">{{ lang('MYSPOT_RECORD') }}</span>
    <h4 class="mdc-typography--headline4">{{ ONLINE_RECORD_COUNT }}</h4>
    <p class="mdc-typography--body2">{{ ONLINE_RECORD_DATE }}</p>
</div>

<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat">
    <span class="mdc-typography--overline">{{ lang('STATISTICS') }}</span>
    <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_TOPICS }}</h4>
    <p class="mdc-typography--body2">{{ lang('TOPICS') }}</p>
    <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_POSTS }}</h4>
    <p class="mdc-typography--body2">{{ lang('POSTS') }}</p>
    <h4 class="mdc-typography--headline4">{{ TOTAL_FORUM_USERS }}</h4>
    <p class="mdc-typography--body2">{{ lang('USERS') }}</p>
</div>

<div class="mdc-card mdc-card--outlined tsn-card tsn-card--stat">
    <span class="mdc-typography--overline">{{ lang('MYSPOT_LEGEND') }}</span>
    <span class="mdc-evolution-chip-set" role="listbox" aria-orientation="horizontal" aria-multiselectable="true">
        <span class="mdc-evolution-chip-set__chips" role="presentation">
            {% for usergroup in usergroups %}
            <a href="{{ usergroup.URL }}" title="{{ usergroup.NAME }}" class="mdc-evolution-chip" role="presentation">
                <span class="mdc-evolution-chip__action mdc-evolution-chip__action--primary" role="option" aria-selected="false" tabindex="0">
                    <span class="mdc-evolution-chip__ripple mdc-evolution-chip__ripple--primary"></span>
                    <span class="mdc-evolution-chip__graphic">
                        <span class="mdc-evolution-chip__icon mdc-evolution-chip__icon--primary material-icons" style="color:{{ usergroup.COLOR }}">group</span>
                    </span>
                    <span class="mdc-evolution-chip__text-label">&nbsp;{{ usergroup.NAME }}</span>
                </span>
            </a>
            {% endfor %}
        </span>
    </span>
</div>
