{# This template requires that a single post variable get sent in via a loop #}
<div class="mdc-card tsn-card tsn-card--postsearch {% if post.S_UNREAD_TOPIC and not S_IS_BOT %}unread{% endif %}">
    {{ post.I_LAST_POST_AUTHOR_AVATAR }}
    <div class="tsn-card--postsearch__content">
        <a class="mdc-typography--overline" href="{{ post.U_VIEW_FORUM }}">{{ post.FORUM_TITLE }}</a>
        <a class="mdc-typography--headline6 mdc-card__primary-action tsn-card--postsearch__title" href="{post.U_NEWEST_POST}" title="{L_GOTO_FIRST_UNREAD_POST}">{post.LAST_POST_SUBJECT}</a>
        <span class="mdc-typography--body2">{post.LAST_POST_AUTHOR_FULL}&nbsp;&mdash;&nbsp;{post.LAST_POST_TIME} :: {{ post.TOPIC_META }}</span>
        <span class="mdc-typography--body1 tsn-card--postsearch__excerpt">{{ post.LAST_POST_EXCERPT }}</span>
    </div>
</div>
