.avatar {
  // All avatars are now rounded
  border-radius: 50%;
  object-fit: cover;
}

.mdc-card,
.mdc-card--outlined {
  &.tsn-card {
    &.unread {
      border-left: rem-calc(3) solid $mdc-theme-secondary;
    }
  }

  // Give Stat Cards a rounded top-right corner
  &.tsn-card--stat {
    @include mdc-card-shape-radius(0 $full-side 0 0, false);
  }
}

// Handle Forum/User Images in the navigation drawer
.mdc-drawer {
  .mdc-drawer__header {
    padding-top: $full-vertical;

    .tsn-image--drawer-header-logo,
    .avatar {
      width: $triple-side;
      height: $triple-vertical;
    }
  }

  .tsn-image--navigation {
    min-width: $double-side;
    height: $double-vertical;
  }
}

// User Avatar in a Chip leading icon role
.mdc-chip {
  .avatar {
    @extend .mdc-chip__icon;
    @extend .mdc-chip__icon--leading;
  }
}

.mdc-fab {
  .second-icon,
  .first-icon {
    left: 0;
    margin-left: 16px;
    margin-top: 16px;
    position: absolute;
    top: 0;
    -webkit-transition: all .2s cubic-bezier(.4, 0, .2, 1);
    transition: all .2s cubic-bezier(.4, 0, .2, 1);
  }

  .second-icon,
  &:hover .first-icon {
    opacity: 0;
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }

  &:hover .second-icon {
    opacity: 1;
    visibility: visible;
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
