body {
  margin: 0;
  padding: 0;
  background: $mdc-theme-surface none;
  display: flex;
  height: 100vh;

  max-width: initial !important;
  position: relative;
  font-weight: 300;
  line-height: 1.5em;
  @include transition-default();


  // Override existing tsn8 styles
  header, footer, main, section, nav {
    max-width: 100vw;
    width: 100%;
    margin: 0;
  }

  main{
    position: relative;
    padding-bottom: $double-vertical;
    @include transition-default();
  }

  footer {
    border-top: $default-border-width solid $mdc-list-divider-color-on-light-bg;
    padding: $half-vertical-bordered $full-side $half-vertical;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: $full-vertical;
    background-color: $mdc-theme-surface;
    color: $mdc-theme-on-surface;
    @include transition-default();
  }
}
