body {
  margin: 0;
  padding: 0;
  background: $mdc-theme-surface none;
  display: flex;
  max-height: 100vh;
  overflow-y: hidden;
  max-width: initial !important;
  position: relative;
  font-weight: 300;
  line-height: 1.5em;
  @include transition-default();

  // Override existing tsn8 styles
  header, footer, main, section, nav {
    max-width: 100vw;
    width: 100%;
    margin: 0;
  }

  main {
    flex: auto;
    overflow: auto;
    position: relative;
    padding-bottom: $double-vertical;
    @include transition-default();
  }

  footer {
    height: $footer-height;
    border-top: $default-border-width solid $lighter-grey;
    padding: $half-vertical-bordered $full-side $half-vertical;
    vertical-align: middle;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    line-height: $full-vertical;
    background-color: $mdc-theme-surface;
    color: $mdc-theme-on-surface;
    @include transition-default();
  }
}
